body {
    margin: 0;
}

header, aside, article, footer {
    background-color: gray;
    margin: 5px;
}

header {
    height: 150px;
}

aside {
    width: 25%;
    height: 500px;
}

#left {
    float: left;
}

#right {
    float: left;
}

article {
    width: 48%;
    height: 500px;
    float: left;
}

footer {
    clear: both;
    height: 150px;
}